
<header>
        <nav class="nav-wrapper transparent">
            <div class="container">
              <a href="/" class="tooltipped  btn-floating btn-smail indigo darken-4 " data-tooltip="This is logo">
                <i class="fab fa-angellist"></i>
              </a>
             
                <a href="/"><h7 class="indigo-text text-darken-4">NGONLAM</h7></a>
            
    
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons ">menu</i></a>
                <ul class="right hide-on-med-and-down">

                         <li class="text-amber text-darken-4"><a href="#contact"><h7 class="indigo-text text-darken-4">MENU</h7></a></li>
    
                         <li class="text-amber text-darken-4"><a href="#contact"><h7 class="indigo-text text-darken-4">CONTACT</h7></a></li>
                        
                      
                        <li class="text-amber text-darken-4"><a href="/auth"><h7 class="indigo-text text-darken-4">LOGIN</h7></a></li>
                        <li class="amber darken-4"><a href="/auth/signup_email" class="">SIGNUP</a></li>
                        
                             <li>
                                 <a class='dropdown-trigger btn-floating btn-smail indigo darken-4' href='#' data-target='dropdown1'>
                                         <i class="far fa-user"></i> 
                                 </a>
               
                   
                        </a></li>
                           <li>
                    <a href="#" class="" >
                      
                        </a></li>

                        <li><a href="#" class="tooltipped btn-floating btn-smail indigo darken-4" data-tooltip="This is instagram">
                          <i class="fab fa-instagram"></i>
                        </a></li>
                                                
                        <li><a href="#" class=" tooltipped btn-floating btn-smail indigo darken-4" data-tooltip="This is facebook">
                          <i class="fab fa-facebook"></i>
                        </a></li>
                        <li><a href="#" class="tooltipped  btn-floating btn-smail indigo darken-4 " data-tooltip="This is twitter">
                          <i class="fab fa-twitter"></i>
                        </a></li>
                        
                </ul>

            
                </div>
              
            </div>
              <!-- Dropdown Trigger -->


  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Account</a></li>
    <li><a href="#!">Bought</a></li>
    <li><a href="#!">Signup</a></li>
   
  </ul>
        </nav>
    </header>