<header>

  <div class="nav-admin">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons icon-while"
      >menu</i></a>

  </div>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="background">
          <img
            src="https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1015&q=80"
          />
        </div>
        <a href="#user"><img
            class="circle"
            src="https://bigpicturelabs.io/img/team/1.jpg"
          /></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span
            class="white-text email"
          >jdandturk@gmail.com</span></a>
      </div></li>
    <li><a href="/admin"><i class="material-icons">storage</i>Product management</a></li>
    <li><a href="/admin/account"><i class="material-icons">person</i>Account management</a></li>
    <li><a href="#!"><i class="material-icons">comment</i>Review management</a></li>
    <li><a href="#!"><i class="material-icons">playlist_add</i>List management</a></li>
    <li><a href="#!"><i class="material-icons">shopping_cart</i>Order management</a></li>
    <li><a href="#!"><i class="material-icons">open_in_browser</i>Article management</a></li>
    <li><a href="#!"><i class="material-icons">pie_chart</i>Statistics</a></li>
    <li><a href="#!"><i class="material-icons">assignment_return</i>Logout</a></li>
   
  </ul>

</header>