
     {{>header}}
<div class="container">
  <div class="row">
    <form class="col s12" method="POST" action="/auth/confirmCode">
      <h2 class="center">Confirm Email</h2>
      <div class="row">
        <div class="input-field col s6 push-l3">
          <input id="code" type="Text" class="validate" name="code"/>
          <label for="code">Code</label>
        </div>
      </div>  
          <div class="row">
        <div class="input-field col s6 push-l3">
         <div class="isa_info message-info">
                <i class="fa fa-check"></i>
          <span>{{ message}}</span> 
      
            </div>
             <div class="isa_error message-info">
                <i class="fa fa-times-circle"></i>
          <span>{{error}}</span> 
            </div>
          

       
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 push-l4">
          <button
            class="btn waves-effect waves-light center"
            type="submit">Send
            <i class="material-icons right">send</i>
          </button>
        </div>    
      </div>
    </form> 
  </div>
</div>