

<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
     {{>header}}
<div class="container">
  <div class="row">
    <form class="col s12" method="POST" action="/auth/user_Login">
      <h2 class="center">Login</h2>
      <div class="row">
        <div class="input-field col s6 push-l3">
          <input id="email" type="email" class="validate" name="email" value="{{Email}}" />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 push-l3">
          <input id="password" type="password" class="validate" name="password" />
          <label for="password">Password</label>
        </div>
      </div>
     <div class="row">
        <div class="input-field col s6 push-l3">
   <div class="g-recaptcha" data-sitekey="6LcaRC0cAAAAAGZJCCINa2WiMLhJ8P1EfJ8O4SPs"></div>
   
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6 push-l3">
         <h5 class="red-text text-darken-3">{{error}} </h5>
         <br>
             <h5 class="red-text text-darken-3">{{errorConfirm}} </h5>
       
        </div>
      </div>

        
      </div>
      <div class="row">
        <div class="input-field col s6 push-l4">
          <button
            class="btn waves-effect waves-light center"
            type="submit"
            
          >Login
            <i class="material-icons right">send</i>
          </button>
        </div>
         <div class="input-field col s12 left push-l4">
                   <h10>Don't Remember Your Account ? </h10>
                   <a href="/auth/forgotPassword">Forgot Account</a>
               </div>
      </div>

    </form>
    
  </div>

  
</div>