     {{>header}}
<div class="container ">
    <h2 class="center"> Register</h2>
<div class="row">
    <form class="col s12" action="/auth/signup_email" method="POST">
    
      
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate"  name="email">
          <label for="email">Email</label>
        </div>
      </div>     
       <div class="row">
          <div class="input-field col s12">
           <h5>{{error}}</h5>
        </div>
      </div>
      
      <div class="row">
               <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit">Signup
            <i class="material-icons right">send</i>
                 </button>
               </div>
               <div class="input-field col s12 left">
                   <h10>Are you have Account ? </h10>
                   <a href="/auth">Login</a>
            </div>
      </div>
    </form>
  </div>    
</div>