<nav id="navbar" class="navbar">
  <a href="/" class="navbar-brand">
    <img src="../img/pills.svg" alt="" class="logo" />
    medicale
  </a>
  <a href="#" data-target="mobile-demo" class="nav-link sidenav-trigger"><i
      class="material-icons"
    >menu</i></a>
  <div id="nav-mobile" class="left hide-on-med-and-down">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/goods" class="nav-link">Our Products</a>
      </li>
      <li class="nav-item">
        <a href="/news" class="nav-link">News</a>
      </li>
      <li class="nav-item">
        <a href="/about/view" class="nav-link">About Us</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <a href="#" class="nav-link material-icons"> search </a>
    <a href="/cart" id="cart-btn" class="nav-link material-icons">
      shopping_bag
    </a>
     <span href="/auth" class="nav-link">{{totalQty}}</span>
    <div class="auth_user" style="display: flex">

      {{#if author}}
        <a
          class="nav-link dropdown-trigger btn"
          href="#"
          data-target="dropdown1"
        >
          <img
            style="height:100%"
            class="circle"
            src="https://bigpicturelabs.io/img/team/1.jpg"
          />
        </a>
      {{else}}
        <a href="/auth" class="nav-link">Login</a>
        <a href="/auth/signup_email" class="nav-link">Signup</a>
      {{/if}}
      <!-- Dropdown Structure -->
    </div>
  </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="">Account</a></li>
  <li><a href="">Order </a></li>
  <li><a href="/auth/logout">Logout </a></li>
</ul>